@use "../base/variables.scss" as *;

.cards {
  margin: 0 auto 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 500px;

  &__title {
    margin: auto;
    padding: 2em 0;
    font-size: 32px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    width: 340px;
  }
}

@media (min-width: 768px) {
  .cards {
    &__title {
      font-size: 36px;
    }
    &__grid {
      width: 700px;
    }
  }
}

@media (min-width: 1200px) {
  .cards {
    &__title {
      font-size: 40px;
    }
    &__grid {
      width: 1200px;
    }
  }
}

@media (min-width: 1900px) {
  .cards {
    &__grid {
      width: 1400px;
    }
  }
}