@use "../base/variables.scss" as *;

.card {
  margin: auto;

  &__item {
    display: flex;
    flex-direction: column;
    border: 1px solid $dark;
    width: 300px;

    .card__title {
      font-weight: 500;
      font-size: 24px;
      text-transform: uppercase;
      width: 100%;
    }

    .card__img {
      min-width: 300px;
      height: 240px;
    }

    .card__p {
      width: 100%;
      padding: 1em;
    }

    .card__title-btn {
      display: flex;
      flex-direction: column;
      gap: 1em;
      padding: 1em;
    }
  }
}

@media (min-width: 768px) {
  .card {
    &__item {
      width: 670px;

      .card__title-btn {
        justify-content: space-between;
      }

      .card__p {
        width: 100%;
        padding: 1em;
      }
    }
  }
}

@media (min-width: 1200px) {
  .card {
    &__item {
      width: 550px;

      .card__title {
        width: 170px;
      }

      .card__p {
        width: 100%;
      }
    }
  }
}

@media (min-width: 1900px) {
  .card {
    &__item {
      width: 660px;

      .card__title {
        width: 280px;
      }

      .card__p {
        width: 100%;
      }
    }
  }
}