@use "../base/variables.scss" as *;

.catalog {
  min-height: 500px;
  margin: auto;

  &__title {
    text-align: center;
    margin: auto;
    font-weight: 500;
    padding: 2em 0;
    text-transform: uppercase;
    font-size: 32px;
    line-height: 1;
  }

  &__filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid $dark;
    margin: auto;
    max-width: 340px;
    text-align: center;

    .catalog__filter {
      width: 135px;
      margin: 0.5em;
      border: none;
      background-color: #fff;
      font-weight: 500;
      font-size: 20px;
      text-transform: uppercase;
    }
  }

  &__grid {
    margin: 2em auto;
    width: 340px;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: flex-start;
    position: relative;
  }

  &__info {
    border: 1px solid $dark;
    height: 77px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-inline: 5px;
  }
}

@media (min-width: 768px) {
  .catalog {
    &__title {
      font-size: 36px;
    }
    &__grid {
      width: 700px;

      &::after {
        content: '';
        position: absolute;
        top: -20px;
        left: -20px;
        width: 200px;
        height: 200px;
        border-top: 2px solid #2f2f2f;
        border-left: 2px solid #2f2f2f;
      }
    }
    &__filters {
      max-width: 500px;
    }
  }
}

@media (min-width: 1200px) {
  .catalog {
    &__title {
      font-size: 40px;
    }
    &__grid {
      width: 1052px;
    }
  }
}

@media (min-width: 1900px) {
  .catalog {
    &__grid {
      width: 1410px;
    }
  }
}