@use "../base/variables.scss" as *;

.find {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em auto;
  gap: 2em;

  &__map {
    height: 200px;
    width: 340px;
  }

  &__title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 32px;
  }
}

@media (min-width: 768px) {
  .find {
    &__map {
      width: 660px;
      height: 400px;
    }
  }
}

@media (min-width: 1200px) {
  .find {
    &__map {
      height: 500px;
    }
  }
}

@media (min-width: 1900px) {
  .find {
    &__map {
      width: 90%;
    }
  }
}