@use "../base/variables.scss" as *;

.form {
  position: relative;
  width: 100%;

  &__vase-img {
    display: none;
  }

  &__icon {
    display: none;
  }

  &__title {
    padding: 10px 0 25px;
  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  &__fields {
    width: 99%;
    display: flex;
    flex-direction: column;
  }

  &__consent {
    display: flex;
    gap: 15px;
    padding: 16px 0 16px;
  }

  &__checkbox {
    height: 15px;
    width: 15px;
  }

  &__terms {
    text-decoration: none;
  }

  &__label {
    display: flex;
    flex-direction: column;
  }

  &__label-text {
    font-weight: 400;
    font-size: 14px;
  }

  &__input {
    width: 100%;
    max-width: 340px;
    height: 48px;
    &--textarea {
      height: 160px;
    }
  }

  &__field {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__name-email {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  &__container {
    margin: 2em auto;
  }
}

@media (min-width: 767px) {
  .form {
    padding: 0 2em;

    &__icon {
      display: block;
      height: 85px;
      width: 85px;
      position: absolute;
      right: 1em;
      bottom: 0;
    }
  }
}

@media (min-width: 1199px) {
  .form {
    width: 1200px;
    margin: auto;
    
    &__content {
      gap: 1em;
      justify-content: space-evenly;
    }

    &__vase-img {
      display: block;
      width: 550px;
      height: 341px;
      box-shadow: 1px 1px 10px 10px rgba(0,0,0,0.1);
    }
  }
}

@media (min-width: 1900px) {
  .form {
    width: 1440px;
    padding: 20px 0;

    &__name-email {
      display: flex;
      flex-direction: row;
      gap: 2em;
    }

    &__content {
      justify-content: space-between;
    }

    &__fields {
      width: 700px;
    }
    
    &__input {
      min-width: 340px;
    }
  }
}