@use "../base/variables.scss" as *;

.header {
  display: flex;
  justify-content: space-between;

  &__logo {
    width: 100px;
    height: 100px;
    margin: 0;
  }

  &__icons {
    display: flex;
    gap: 15px;

    img {
      width: 20px;
      height: 20px;
      display: block;
    }

    a {
      display: flex;
      align-items: center;
      color: $dark;
    }
  }
}

.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 18px;
  cursor: pointer;

  span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: $dark;
    border-radius: 5px;
  }
}

@media (min-width: 768px) {
  .header {
    padding-left: 4.5em;

    &__logo {
      margin: auto;
    }
  }

  .burger {
    display: none;
  }
}

@media (min-width: 1200px) {
  .header {
    padding-left: 4.5em;
  }
}