@use "/src/sass/base/variables.scss" as *;

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 10;
  display: none;
  
  &--active {
    display: block;
  }
}