@use "../base/variables.scss" as *;

.menu {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: #FAFAFA;
  backdrop-filter: blur(5px);
  z-index: 10;
  display: none;

  &__close {
    background: #FAFAFA;
    border: none;
    font-size: 2.5rem;
    text-align: left;
    width: 50px;
    margin: 40px auto 0 20px;
  }

  &__link {
    display: inline-block;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    color: $dark;
    padding: 10px 24px;
    border-radius: 5px;
    text-decoration: none;
  }

  &--active {
    display: flex;
    flex-direction: column;
    animation: menu-open 0.4s ease 0ms forwards;
  }

  &--closing {
    animation: menu-close 1s ease 0ms forwards;
  }
}

@keyframes menu-open {
  from {
    transform: translateX(-300%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes menu-close {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-300%);
  }
}
