.swiper {
  width: 340px;
  height: 300px;
  margin-top: 2em;
  margin-bottom: 2em;

  &__title {
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    padding: 28px 0;
  }
}

@media (min-width: 768px) {
  .swiper {
    width: 400px;
    height: 360px;
  }
}

@media (min-width: 1200px) {
  .swiper {
    width: 1100px;
    height: 390px;
  }
}

@media (min-width: 1900px) {
  .swiper {
    width: 1360px;
    height: 420px;
  }
}
