@use "libs/modern-normalize.min.css";
@use "libs/fontello.css";
@use "base/basic.scss";

@use "blocks/header.scss";
@use "blocks/menu.scss";
@use "blocks/promo.scss";
@use "blocks/about.scss";
@use "blocks/form.scss";
@use "blocks/footer.scss";
@use "blocks/catalog.scss";
@use "blocks/swiper.scss";
@use "blocks/info.scss";
@use "blocks/find.scss";
@use "blocks/cards.scss";
@use "blocks/card.scss";

@use "ui/titles.scss";
@use "ui/buttons.scss";
@use "ui/utilities.scss";
