h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
 margin: 0;
}

ol[role="list"],
ul[role="list"] {
 list-style: none;
 padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
 font-size: inherit;
 font-weight: inherit;
}

img {
 display: block;
 max-inline-size: 100%;
}

.homepage {
  height: 800px;
  background: url(../img/main_bg.jpg) no-repeat center / cover;
  padding-top: 22px;
  text-align: center;
}

.logo-img, .logo-text {
  margin: 0 auto;
}

.logo-text {
  color: #FFFFFF;
  margin-top: 13px;
  font-size: 16px;
  font-weight: 500;
}

.logo-text, h1, .simple, .subheader, .description-marked, .homepage-button {
  text-transform: uppercase;
}

h1, .subheader {
  color: #F9BF3B;
  font-size: 41px;
  font-weight: bold;
  margin-top: 52px;
}

.simple {
  font-size: 80px;
  font-weight: bold;
  color: white;
  margin-top: 12px;
}

.subheader {
  margin-top: 12px;
}

.description {
  font-size: 21px;
  color: white;
  font-weight: 500;
  
  width: 1140px;
  margin: 16px auto 0;
}

.description-marked {
  color: #F9BF3B;
}

.homepage-button {
  width: 315px;
  height: 72px;
  border: 0;
  border-radius: 4px;
  background: linear-gradient(#FEB05D, #FF4D00);
  margin-top: 72px;
  color: white;
  font-weight: 500;
}